<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <servlet>
    <servlet-name>SrvValidarEntrada</servlet-name>
    <servlet-class>artupa.servlets.SrvValidarEntrada</servlet-class>
    <init-param>
      <param-name>fichero_propiedades</param-name>
      <param-value>C:\ECLIPSE EE\eclipse\WORKSPACE\Artupa\WebContent\WEB-INF\artupa.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SrvClientes</servlet-name>
    <servlet-class>artupa.servlets.SrvClientes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvProcesarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvProcesarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvActualizarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvActualizarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SrvEliminarCliente</servlet-name>
    <servlet-class>artupa.servlets.SrvEliminarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvValidarEntrada</servlet-name>
    <url-pattern>/SrvValidarEntrada</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvClientes</servlet-name>
    <url-pattern>/SrvClientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvProcesarCliente</servlet-name>
    <url-pattern>/SrvProcesarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvActualizarCliente</servlet-name>
    <url-pattern>/SrvActualizarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SrvEliminarCliente</servlet-name>
    <url-pattern>/SrvEliminarCliente</url-pattern>
  </servlet-mapping>
</web-app>